
#wrapper-header {

  @include container();

  .header-content-wrapper {
    box-shadow: none;
    background: none;
    z-index: 100;
    padding-top: 20px;

    .header-logo {
      width: 350px;
    }
  }

  .menu-box {

    ul li {
      line-height: initial;
      height: initial;
    }

    .menu-item a {
      color: #666;
    }

    a, a:visited {
      height: initial;
      line-height: 1em;
      padding: 10px 15px !important;
    }

    a:active {
      color: $red-font-color;
    }

    .current-menu-item {
      padding: 0;
    }

    .current-menu-item > a,
    .current-menu-ancestor > a,
    .current_page_item > a,
    .current-page-ancestor > a {

      color: $red-font-color;
      border-bottom: 2px solid $red-font-color;
      padding: 10px 15px !important;
      line-height: 1em;
      height: initial;
      border-top: none;
    }
  }
}


.menu-main-menu-container {
  padding-top: 42px;
}


.menu-container {
  .menu-header {
    background: none !important;
    border-color: none;
    border-style: none;
    border-width: 0;
    box-shadow: none;
  }
}

@media screen and (max-width: 1024px) {
.js #nav {
  display: block;
  position: fixed;
background: white;
bottom: 0;
left: 0;
width: 100%;
border-top: 1px solid #efefef;
}

.selectnav {
  display: none !important;
}

.mobile-nav-button {
  color: #777;
  font-size: 2em;
  font-family: "FontAwesome";
  display: block;
  text-align: center;
  padding-top: 5px;
}

#menu-item-64,
#menu-item-26,
#menu-item-29,
#menu-item-61 {
  text-align: center;
}

#menu-item-64 a:before {
  @extend .mobile-nav-button;
  content: "\f015";
}

#menu-item-26 a:before {
  @extend .mobile-nav-button;
  content: "\f182";
}

#menu-item-29 a:before {
  @extend .mobile-nav-button;
  content: "\f0c0";
}

#menu-item-61 a:before {
  @extend .mobile-nav-button;
  content: "\f040";
}

}




// menu icons:
// Home -  f015
// Partner - f0c0
// About - f182
// Blog - f040 (pencil) or f09e (rss)