#sidebar {

  .widget_archive,
  .widget_recent_entries,
  .widget_categories {

    @include border-radius(5px);

    background: #eee;
    padding: 20px 30px;

    ul li {
      background: none;
      list-style: none;
      line-height: 28px;
      min-height: 28px;
      padding-left: 0;
    }
    
    .post-date {
      display: block;
      margin-top: -7px;
      margin-bottom: 8px;
      font-weight: 200;
    }

    a {
      color: #555;
      font-size: 15px;
      font-weight: 500;
      text-transform: capitalize;

      &:hover {
        transition: none !important;
        color: $red-font-color !important;
      }

    }
  }


  .sidebar-headline {
    font-family: 'proxima-nova', helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: $red-font-color !important;
    border-bottom: none !important;
    padding-bottom: 16px !important;

  }
}